<br><br>
<h1>Login to your MyMeals Account</h1>
<div class="login_form">
<%= form_for(:user, url: login_path) do |f| %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %><br><br>

<%= f.submit "Login" %>

<% end %>

</div>