<%= link_to "<-- Back to Restaurant", restaurant_path(@restaurant) %> <br>

<h1>Meals</h1>

<p>
    Name: <%= @meal.name %><br>
    Description:<%= @meal.description %>
</p>

<% if @meal.user == current_user %>

<%= link_to "Edit Meal", edit_restaurant_meal_path(@restaurant, @meal) %><br><br>

<%= link_to "Delete Meal", restaurant_meal_path(@restaurant, @meal), method: 'delete' %> <br><br>
<% end %>



