<% if @restaurant.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

    <ul>
      <% @restaurant.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= f.label :name %>
<%= f.text_field :name %><br><br>


<h3> Pick a Location </h3>
<%= f.collection_select :location_id, Location.all, :id, :name, { prompt: "Please select a location" } %>

<h3> Add a New Location </h3>
<%= f.fields_for :location do |l| %>
<%= l.label :name %>
<%= l.text_field :name %><br><br>
<% end %>