<h1>All Restaurants</h1>

<%= form_with url: "/restaurants", method: :get do |form| %>
  <%= form.label :query, "Search by city:" %>
  <%= form.text_field :query, placeholder: "Enter Location..." %>
  <%= form.submit "Search" %>
  <br><br>
<% end %>

<%= link_to "Reverse Sort", restaurants_reverse_order_path %><br><br>

<% @restaurants.each do |f| %>
<div class="restaurants">
<%= link_to f.name, restaurant_path(f) %> - <%= f.location.name %> <br><br>
</div>
<% end %>
<br><br>

<%= link_to "Make a New Entry", new_restaurant_path %>

<!-- #button sorted by reverse order
#button on page
#link to root to controller action
#controller logic
#send request -->