<h1>All Restaurants</h1>

<%= form_with url: "/restaurants", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
  <br><br>
<% end %>

<% @restaurants.each do |f| %>
<div class="restaurants">
<%= link_to f.name, restaurant_path(f) %> - <%= f.location.name %> <br><br>
</div>
<% end %>

<%= link_to "Make a New Entry", new_restaurant_path %>