<h1>Create a New Restaurant</h1>

<% if @restaurant.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

    <ul>
      <% @restaurant.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @restaurant do |f| %>
<%= render partial: 'form', locals: {f: f} %>

<h3> Add a New Meal </h3>
<%= f.fields_for :meals do |m| %>
<%= m.label :name %>
<%= m.text_field :name %><br><br>
<%= m.label :description %>
<%= m.text_field :description %><br><br>
<% end %>

<%= f.submit "Create" %>
<% end %>