<h1> <%= @restaurant.name %> </h1>

<h2>Location: <%= @restaurant.location.name %> </h2>



<h3>MyMeals: </h3>
<% @restaurant.meals.each do |m| %>
<%= link_to m.name, restaurant_meal_path(@restaurant, m) %> <br><br>
<% end %>


<%= link_to "Add a New Meal", new_restaurant_meal_path(@restaurant) %><br><br>

<%= link_to "Edit Restaurant", edit_restaurant_path %><br><br>

<%= link_to "Delete Restaurant", restaurant_path(@restaurant), method: 'delete' %> <br><br>

