  <div class="scrollmenu">

    <div class="topnav-left">
      <%= image_tag "logo_transparent.png" %>
    </div>

      <div class="topnav-right">
        <% if !logged_in? %>
          <%= link_to "Signup", signup_path %>
          <%= link_to "Login", login_path %>
          <%= button_to "Sign in with Github", '/auth/github'%><br><br>
          <% else %>
          <%= link_to "Home", user_path(current_user) %>
          <%= link_to "Add a Restaurant", new_restaurant_path %>
          <%= link_to "Restaurants", restaurants_path %>
          <%= link_to "Logout", logout_path, method: 'delete' %>
            <% end %>

      </div>

</div>
<br>

<% flash.each do |type, msg| %>
  <div class="error_message">
    <%= msg %>
  </div>
<% end %>